.main {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
  color: #4d4d4d;
  font-weight: 300;
  margin-left: 67px;
  margin-right: 67px;
  text-align: left;
}

body {
  background-color: #eeeeee;
}

/* Center all h1 elements */
h1 {
  text-align: center;
  font-weight: bold;
}

.highlight {
  background-color: yellow;
  /* Add any other styles you want for the highlighted text */
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  mark:hover .tooltip {
    display: block;
